name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      # Checkout Code
      - name: Checkout code
        uses: actions/checkout@v3
    
      # Set up NodeJS
      - name: Set up NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      # Install NPM dependencies
      - name: Install NPM dependencies
        run: npm install
      
